
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --cor-primaria:#F3F5FC;
    --cor-secundaria:#0a3871;
    --cor-terciaria:#ffffff;
    --cor_quarta:#495057;
    --cor-quinta:#343A40;

    --fonte_principal:font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;

}


body{
    box-sizing: border-box;
    background-color:var(--cor-primaria);
    font-family: var(--fonte_principal);

}

.nome{
    position: fixed;
    top: 2%;
    left: 3%;
    
}
.logo{  
    
    font-size: 10rem;
    margin: 0;
    padding: 0;
    color: var(--cor-secundaria);
}

main{
    height: 1024px;
    width: 1440px;
    top: 622px;
    left: -2277px;
}

.imagem{
    width: 130px;
    height: 150px;
}

.frases{
    position: fixed;
    width: 336px;
    height: 122px;
    top: 619px;
    left: 1032px;
    gap: 16px;
    
}

.negrito{
    position:fixed;
    width: 336px;
    height: 58px;
    font-weight: 700;
    font-size: 24px;
    color: var(--cor-quinta);
    line-height: 28.8px;
    text-align: center;
}

.normal{
    color: var(--cor_quarta);
    position: fixed;
    width: 336px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height:24px;
    text-align: center;
    top: 680px;
}

.imagem_busca{
    position:fixed;
    width: 336px;
    height: 304px;
    top: 283px;
    left: 1032px;
}

.cript_decript{
    position: fixed;
    width: 680px;
    height: 900px;    
    top: 168px;
    left: 240px;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    border: none;

}

.icone{
    position: fixed;
    width: 252px;
    height: 18px;
    top: 851px;
    left: 249px;
    gap:8px;
}
.aviso{
    position: fixed;
    width: 228px;
    height: 18px;
    opacity: 80%;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.resultado{
    position: fixed;
    width: 400px;
    height: 944px;
    top: 40px;
    left: 1000px;
    border-radius: 32px;
    background-color: var(--cor-terciaria);

}

#txt_entrada{
    padding: 30px 20px;
    background-color: transparent;
    width: 100%;
    height: 65%;
    border: transparent;
    text-align: justify;
    font-size: 32px;
    color: var(--cor-secundaria);

}
.txt_saida{
    width: 90%;
    height: 75%;
    padding: 25px;
    border: none;
    font-size: 24px;
    color: var(--cor_quarta);
    font-weight: 400;
    line-height: 36px;
    
}


.botoes{
    width: 680px;
    position: fixed;
    top: 885px;
    left: 240px;
    gap: 24px;
    display: flex;
    justify-content: center;
}

.botoes_saida{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    display: none;
}

button{
    border-radius: 24px;
    font-size: 1.5rem;
    height: 67px;
    width: 300px;
    cursor: pointer;
}

.btn_criptografa{
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
}


@media(max-width: 800px) {

    main{
        width: 768px;
        height: 1174px;
        top:2024px;
        left: -2277px;
    }

    .txt_entrada{
        width: 688px;
        top: 240px;
        left:40px
    }
    .resultado{
        position: fixed;
        width: 688px;
        height: 133px;
        top: 1001px;
        left: 40px;
        border-radius: 32px;
        padding: 32px;
        gap: 32px;
        background-color: var(--cor-terciaria);
        

    }
    
    .txt_saida{
        padding-top: 20px;
        height: 80%;
        border: none;
        
    }


    .frases{
        display: flex;
        flex-direction: column;
        width: 624px;
        height: 69px;
        gap: 16px;
    }
    .negrito{
        width: 624px;
        height: 29px;
        font-weight: 700;
    }

    .normal{
        width: 624px;
        font-weight: 400;

    }
    .botoes{
        display: flex;
        width: 688px;
        height: 67px;
        top: 870px;
        left: 40;
        gap: 24px;
    }
    .botoes_saida{
        gap: 10px;
        justify-content: space-around;
 
    }

    button{
        border-radius: 50px;
        font-size: 1.5rem;
        height: 50px;
        color: var(--cor-secundaria);
        width: 45%;
        cursor: pointer;
    }


}
@media (max-width: 600px) {
    main{
        width: max-content;
    }
    .controle{
        flex-wrap: wrap;
        gap: 10px;
    }

    .cript_decript{
        width: 90%;
        height: 60%;    
        margin-top: 250px;
        align-items: center;
    }

    .resultado{
        width: 90%;
        height: 10%;
        border-radius: 20px;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }
    
    .txt_saida{
        padding-top: 20px;
        height: 40%;
        border: none;
        background-image: url(/assets/texto_busca.png);
        background-size: 100%;
  
    }

    .botoes{
       flex-direction: column;
       width: 90%;
    }

    .botoes_saida{
        flex-direction: row;
        width: 90%;
    }

    button{
        height: 50px;
        width: 90%;
        cursor: pointer;
    }
}
