
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --cor-primaria:#F3F5FC;
    --cor-secundaria:#0a3871;
    --cor-terciaria:#ffffff;
    --cor_quarta:#495057;
    --cor-quinta:#343A40;

    --fonte_principal:font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;

}

body{
    box-sizing: border-box;
    background-color:var(--cor-primaria);
    font-family: var(--fonte_principal);

}

.logo{  
    width: 31.09px;
    height: 46.37px;
}

.main{
    height: 100vh;
    width: 1200px;
    margin: 3% 15%;
    display: flex;
    justify-content: space-between;
}

.frases{
    display: flex;
    flex-direction: column;
    width: 336px;
    height: 122px;
    gap: 16px;
    
}

.negrito{
    width: 336px;
    height: 58px;
    font-weight: 700;
    font-size: 24px;
    color: var(--cor-quinta);
    line-height: 28.8px;
    text-align: center;
}

.normal{
    color: var(--cor_quarta);
    width: 336px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height:24px;
    text-align: center;
    top: 680px;
}
.atencao{
    height: 16px;
    width: 16px;
}

.imagem_busca{
    width: 336px;
    height: 304px;

}

.cript_decript{
    margin-top: 150px;
    width: 700px;
    height: 944px;    
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    border: none;
    display: flex;
    flex-direction: column;

}

.icone{
    width: 252px;
    height: 18px;
    padding: 15px 0;
}
.aviso{
    width: 228px;
    height: 18px;
    opacity: 80%;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.resultado{
    width: 400px;
    height: 944px;
    border-radius: 32px;
    background-color: var(--cor-terciaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#txt_entrada{
    padding: 30px 20px;
    background-color: transparent;
    width: 100%;
    height: 65%;
    border: transparent;
    font-size: 32px;
    color: var(--cor-secundaria);

}
.txt_saida{
    width: 85%;
    height: 75%;
    padding: 25px;
    border: none;
    font-size: 24px;
    color: var(--cor_quarta);
    font-weight: 400;
    line-height: 36px;
    
}


.botoes{
    width: 100%;
    gap: 24px;
    display: flex;
    justify-content: space-between
    }

.botoes_saida{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    display: none;
}

button{
    border-radius: 24px;
    font-size: 1.5rem;
    height: 67px;
    width: 300px;
    cursor: pointer;
}

.btn_criptografa{
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
}


footer{
    background-color: var(--cor-secundaria);
    font-weight: 600;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;

}

ul{
    display: flex;
    gap: 40px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
li{
    list-style:none;
    
}

a{
    color: var(--cor-terciaria);
    text-decoration: none;
    font-family: var(--fonte_principal);
    font-size: 1.1rem;
}

a:hover{
    text-decoration:underline;
}

@media (max-width: 800px) {

    .main{
        width: 768px;
        height: 1174px;
        margin: 3% 5% 3% 5%;
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px
    }

    .logo{  
        width: 31.09px;
        height: 46.37px;


    }

    .imagem_busca{
        display: none;
    }
    .cript_decript{
        width: 680px;
        height: 50%;
        margin-top: 110px;
    }

    #txt_entrada{
        /* width: 680px; */
        height: 85%;
        font-size: 32px;
        padding: 20px, 2px;
        line-height: 48px;
        
    }
    .resultado{
        display: flex;
        flex-direction: column;
        width: 688px;
        height: 133px;
        border-radius: 32px;
        gap: 32px;
        background-color: var(--cor-terciaria);
      

    }
    
    .txt_saida{
        height: 90%;
        border: none;
        width: 93%;
        border-radius: 32px;
        left: 40px;
        
    }


    .frases{
        width: 624px;
        height: 69px;
        gap: 16px;

    }
    .negrito{
        width: 624px;
        height: 29px;
        font-weight: 700;
    }

    .normal{
        width: 624px;
        height: 24px;
        font-weight: 400;

    }
    .botoes{
        display: flex;
        width: 688px;
        height: 67px;
        top: 710px;
        left: 40px;
        gap: 24px;
    }

    .icone{
        top: 670px;
        left: 40px;
        gap: 8px;
    }
    .botoes_saida{
        gap: 10px;
 
 
    }

    button{
        border-radius: 50px;
        font-size: 1.5rem;
        height: 50px;
        color: var(--cor-secundaria);
        width: 45%;
        cursor: pointer;
    }


}
@media (max-width: 400px) {
 
    .main{      
        width: 375px;
        height: 933px;
        gap:30px;

    }

    .cript_decript{
        width: 343px;
        height: 530px;
        margin-top: 30px;

    }

    #txt_entrada{
        width: 90%;
        height: 60%;
    }

    .imagem_busca{
        display: none;
    }

    .botoes{
        flex-direction: column;
        align-items: center;
        width: 343px;
        height: 158px;
        gap: 24px;
    }

    .icone{
        width: 252px;
        height: 18px;
        gap: 8px;
    }

    .resultado{
        width: 343px;
        height: 196px;
        border-radius: 20px;
        gap: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .frases{
        width: 263px;
        height: 122px;
        gap: 16px;
        padding: 30px 10px;

    }

    .negrito{
        width: 263px;
        height: 58px;
    }

    .normal{
        width: 263px;
        height: 48px;
        font-size: 14px;
    }
    
    .txt_saida{
        width: 80%;
        height: 70%;
        
    }

    .botoes_saida{
        flex-direction: column;
        width: 90%;
        height: min-content;
        
    }

    button{
        height: 50px;
        width: 90%;
        cursor: pointer;
    }
}
